/* CSS Document */

.wrapper {
	width: 600px;
	margin: 20px auto;
}
.form-horizontal .control-label {
	width: 50px;
}

.form-horizontal .controls {
  margin-left: 60px;
}

#tb-subscriber .btn {
	margin-right: 4px;
}

